body {
    width: 100%;
    height: 590px;
    /* The image used */
    background-image: url("../images/cake.webp");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 0px;
}
#servicesHeader{
    /* background: #ececec; */
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
    margin-bottom: 100px;
    padding-bottom: 0px;
}
#services{
    position: relative;
    top: 15px;
    font-weight: bold;
    color: red;
    padding-bottom: 0px;
}
#sazonLogo{
    margin-bottom: 100px;
}
h1 {
    margin-top: 0px;
    font-family: arno-pro;
    font-weight: 300;
    color: white;
}
.actions{
    margin-bottom: 100px;
}
.footer {
    background-color: #730808;
    height: 300px;
    margin-top: 150px;
}

#footerLogo {
    height: 50px;
    width: 50px;
    position: relative;
    left: 50px;
    top: 50px;
}

.footerInfo {
    margin: auto;
    width: 50%;
    color: #ff910d;
}
.orange{
    color: #ff910d;
}

.info {
    font-family: arno-pro;
    font-weight: 300;
}
#formRow {
    width: 50%;
    margin: auto;
    background: white;
    border: 10px;
    padding: 50px;
    border-radius: 4%;
}